.admin__container {
  display: flex;
}
.admin__container .form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 97.3vh;
  position: relative;
  background: url("https://images.unsplash.com/photo-1568952433726-3896e3881c65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.admin__container .form__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.admin__container .form__container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(154, 154, 154);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 2em 1.3em;
  border-radius: 5px;
  gap: 20px;
  width: 25vw;
  background-color: #fff;
  z-index: 2;
}
.admin__container .form__container .form label {
  color: rgba(0, 0, 0, 0.6);
}
.admin__container .form__container .form h3 {
  text-align: center;
  margin: 0.5em 0;
}
.admin__container .form__container .form input {
  padding: 0.8em;
  outline: none;
  font-size: 1.1em;
  border-radius: 0.3em;
  background-color: #eee;
  border: 2px solid rgb(129, 129, 129);
}
.admin__container .form__container .form input:active {
  outline: none;
}
.admin__container .form__container .form input:focus {
  border: 2px solid #436aea;
  background-color: #fff;
}
.admin__container .form__container .form select {
  padding: 0.8em;
  outline: none;
  font-size: 1.1em;
}
.admin__container .form__container .form select:active {
  outline: none;
}
.admin__container .form__container .form button {
  padding: 0.8em;
  text-transform: capitalize;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 3px;
  border: none;
  background-color: #436aea;
  border: 1px solid rgb(128, 128, 128);
  transition: 0.2s;
  color: #fff;
}
.admin__container .form__container .form button:active {
  scale: 0.95;
}
.admin__container .all_admins {
  display: flex;
  height: 97vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 50vw;
  position: relative;
}
.admin__container .all_admins::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(197, 197, 197, 0.8);
}
.admin__container .all_admins h2 {
  text-decoration: underline;
  padding: 0.5em;
  z-index: 1;
}
.admin__container .all_admins .admins {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.admin__container .all_admins .admins .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.1em;
  box-shadow: 0px 10px 21px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  color: #5a5a5a;
  transition: 0.5s ease;
  z-index: 2;
}
.admin__container .all_admins .admins .box:hover {
  scale: 1.05;
  cursor: pointer;
}
.admin__container .all_admins .admins .box p {
  position: relative;
}
.admin__container .all_admins .admins .box p:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 10px;
}
.admin__container .all_admins .admins .box p:nth-of-type(2) i {
  color: rgb(51, 48, 155);
}
.admin__container .all_admins .admins .box p:nth-of-type(2) i:nth-of-type(2) {
  cursor: pointer;
}
.admin__container .all_admins .admins .box .button__container {
  border: 1px solid rgb(150, 150, 150);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #8d3535;
  border-radius: 3px;
  transition: 0.2s ease;
}
.admin__container .all_admins .admins .box .button__container:active {
  scale: 0.9;
}
.admin__container .all_admins .admins .box .button__container button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #fff;
}
.admin__container .all_admins .admins .box .button__container i {
  font-size: 1.1em;
  color: #fff;
}/*# sourceMappingURL=style.css.map */